*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 2%;
    height: 100vh;
    width: 100%;
    background-color:aqua;
}
#main{
    background-color:teal;
    margin: 120px auto;
    max-width: 500px;
    width: 100%;
    border-radius: 5px;
    padding: 25px;
}
#APP{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: bolder;
}
#type{
    display: flex;
}

#add{
    width: 20%;
    max-width: 35%;
    height: 30px;
    cursor: pointer;
    background: greenyellow;
}
#del{
    background: red;
    width: 20%;
    max-width: 35%;
    height: 30px;
    cursor: pointer;
}
#todo{
    width: 50%;
    max-width: 60%;
    height: 30px;  
    background:turquoise;
    font: 1em sans-serif;
    font-weight: bolder;
}
.btn{
    background: red;
    width: 20%;
    max-width: 35%;
    height: 30px;
    cursor: pointer;
    background: red;
}
.edit{
    width: 20%;
    max-width: 35%;
    height: 30px;
    cursor: pointer;
    background: greenyellow;
}
#li-list{
    font: 1em sans-serif;
    font-weight: bolder;
}
